:root {
  --clr-bg: hsl(0, 0%, 100%);
  --clr-bg-accent: hsl(225, 100%, 98%);
  --clr-card: hsl(227, 47%, 96%);
  --clr-font-accent: hsl(228, 12%, 44%);
  --clr-font: hsl(230, 17%, 14%);

  @media (prefers-color-scheme: dark) {
    --clr-bg: hsl(230, 17%, 14%);
    --clr-bg-accent: hsl(232, 19%, 15%);
    --clr-card: hsl(228, 28%, 20%);
    --clr-font-accent: hsl(228, 34%, 66%);
    --clr-font: hsl(0, 0%, 100%);
  }
}

body {
  background-color: var(--clr-bg);
  color: var(--clr-font);
}
